<%- include("./partials/header.ejs") %>


<div class="row bg-info">
    <div class="col">
<ul>
    <strong>Please note</strong>
    <li>It takes approximately 1 minute to load the city data on the map initially, it refreshes every 12 hours.</li>
    <li>The size and color of the circles on the map represents the Air Quality Index (AQI) and risk for the city.</li>
    <li>Please sign in for added fuctionality, such as adding search results to your favorites.</li>
</ul> 
    </div>
</div>

<section>
<div id="map"></div>
</section>

<script src="map.js"></script> 

<%- include("./partials/footer.ejs") %>