<%- include("./partials/header.ejs") %>


<div class="row bg-info">
    <div class="col">
<ul>
    <strong>Please note</strong>
    <li>It takes approximately 1 minute to load the city data on the map.</li>
    <li>When complete, there will be colored circles on every major (and capital) city in the U.S. </li>
    <li>The color and size of the circle represents the Air Quality Index (AQI) and the health risk color associated with the AQI.</li>
    <li>In order to add search results to your favorites, please sign in.</li>
</ul> 
    </div>
</div>

<section>
<div id="map"></div>
</section>

<script src="map.js"></script> 

<%- include("./partials/footer.ejs") %>