<%- include("./partials/header.ejs") %>


<div class="row bg-info">
    <div class="col">
<ul>
    <strong>Please note</strong>
    <li>It takes approximately 1 minute to load the city data, as circles, on the map initially. The API can be non-responsive, in that case, try again later.</li>
    <li>AQI data is from API Ninja. Map refreshes every 12 hours. Individual searches are real time.</li>
    <li>Click circles on the map to see the AQI for the city. The size and color represents the AQI and risk.</li>
    <li>Please sign in for added fuctionality, such as adding search results to your favorites.</li>
</ul> 
    </div>
</div>

<section>
<div id="map"></div>
</section>

<script src="map.js"></script> 

<%- include("./partials/footer.ejs") %>