<%- include('../partials/header.ejs', {user}) %>


<div class="d-flex-inline justify-content-center text-white m-5">
    <h3><%=user.email%>, you are now logged into the app</h3><br>
    
    <p>Utilize the app by adding search results to your favorites (and saving notes).</p>
</div>





<%- include('../partials/footer.ejs') %>